@import "tailwindcss";

html {
  color-scheme: light;
}

body {
  background-color: white;
  color: #171717;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border-color: #e5e5e5;
}
